#!/usr/bin/env bash
[Desktop Entry]
Type=Application
Name=I-installer
Exec=/path/to/i-installer.sh
Icon=/path/to/icons/folder
Terminal=true

# Welcome! Let's get this working for you.
# The only things that need to be changed are the Exec (executable) and Icon fields so the file works correctly.

# Here’s what to do:
# 1) Locate the bash-files folder.  Note: the bash-files folder is hidden
# 2) Right-click the i-installer file and select "Copy Location" (this copies the file path).
# 3) In nano, use arrow keys to navigate to the Exec and Icon lines and drag and drop the location of the files from the clipboard
# 4) Repeat this process for all relevant lines.

