#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Terminal-Tutor
Comment=Beginner-friendly Linux tools
Exec=bash -c 'DIR="$(cd "$(dirname "$1")" && pwd)"; "$DIR/.terminal_tutor.sh"; exec bash' _ %k
Icon=/$HOME/$USER_NAME/Downloads/tux-labs/icons/Bash-tools.png
Terminal=true
Categories=Utility;


USER_NAME="${USER:-$(whoami)}"
